Package: xdman
Version: 8.0.25
Architecture: amd64
Depends: libgtk-3-0 (>= 3.22.11)
Recommends: ffmpeg
Maintainer: Subhra Das Gupta
Description: Open source download accelerator and video downloader.
 Open source download accelerator and video downloader.
